.row
  .col-lg-12
    div(google-chart="", chart="d.chartVisibilityCountByMonth", style="{{d.chartVisibilityCountByMonth.cssStyle}}")
.row
  .col-lg-6
    div(google-chart="", onselect="onMonthSelected", chart="d.chartRestrictedCountByMonth", style="{{d.chartRestrictedCountByMonth.cssStyle}}")
  .col-lg-6
    div(google-chart="", chart="d.chartActivePeopleByMonth", style="{{d.chartActivePeopleByMonth.cssStyle}}") 
.row
  .col-lg-12
    h4 Popular activities
    div(activity-box="", ng-cloak="", activities="d.popularActivities.byMonth")