div(google-chart="", chart="d.chartRestrictedCountEver", style="{{d.chartRestrictedCountEver.cssStyle}}")
div(google-chart="", chart="d.chartVisibilityCountEver", style="{{d.chartVisibilityCountEver.cssStyle}}")
div(google-chart="", chart="d.chartActivePeopleEver", onselect="onActivePersonSelected", style="{{d.chartActivePeopleEver.cssStyle}}")
h4 Popular activities
div(activity-box="", ng-cloak="", activities="d.popularActivities.ever")