mixin entry(name, state)
    li(ng-class="{active: $state.includes('#{state}')}")
        a(ui-sref="#{state}") #{name}

#main-menu(ng-controller="MenuCtrl", ng-init="initCookie()")
    ul.nav.nav-pills(style="margin:10px")
        mixin entry('sync', 'sync')
        mixin entry('activities', 'activities.simple')
        mixin entry('profile', 'person')
        mixin entry('reports', 'reports')
        mixin entry('tags', 'tags.experts')

    .alert.alert-success(style="position:fixed; top: 10px; right: 10px; z-index: 99", ng-show="well.alerts.successMessage && well.alerts.successMessage != ''") {{well.alerts.successMessage}}
    .alert.alert-danger(style="position:fixed; top: 10px; right: 10px; z-index: 99", ng-show="well.alerts.errorMessage && well.alerts.errorMessage != ''") {{well.alerts.errorMessage}}
