!!! 5
html(ng-app='myApp')
  head
    script(src="//www.google.com/jsapi")
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-animate.js')
      //- http://code.angularjs.org/1.0.8/angular.js
    
    script(src='/public/js/lib/ng-google-chart.js')
    script(src='/public/js/lib/moment.min.js')
    script(src='/public/js/lib/angular-ui-router.js')
    
    script(src='/public/js/coffee/app.js')
    script(src='/public/js/coffee/components.js')
    script(src='/public/js/coffee/filters.js')

    script(src='/public/js/coffee/menuCtrl.js')
    script(src='/public/js/coffee/activitiesCtrl.js')
    script(src='/public/js/coffee/personCtrl.js')
    script(src='/public/js/coffee/syncCtrl.js')
    script(src='/public/js/coffee/reportsCtrl.js')
    script(src='/public/js/coffee/tagsCtrl.js')

    script(src='/public/js/lib/ui-bootstrap-tpls-0.4.0.min.js')

    //- link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css', rel='stylesheet')
    link(href='/public/css/bootstrap.css', rel='stylesheet')
    link(href='/public/css/bootstrap-glyphicons.css', rel='stylesheet')
    link(href='/public/css/main.css', rel='stylesheet')
    link(href='/public/css/todc-bootstrap.css', rel='stylesheet')

    meta(name='viewport', content='width=device-width, initial-scale=1.0')

  body
    .container

      include partials/menu

      div(ui-view="", ng-class="fade-animation")